.profile-hero-row {
  display: flex;
  gap: 1rem;
  align-items: stretch;

  position: sticky;
  top: 0;

  z-index: 10;
  background-color: #fff;
}

/* LEFT: 70% */
.profile-hero-col:first-child {
  flex: 7;
  display: flex;
  z-index: 100;
}

/* RIGHT: 30% */
.profile-hero-col:last-child {
  flex: 3;
  display: flex;
  z-index: 100;
}

/* Make both cards fill height */
.profile-hero-col > * {
  width: 100%;
}

/* Stack on smaller screens */
@media screen and (max-width: 1250px) {
  .profile-hero-row {
    flex-direction: column;
    gap: 2px;

    width: 100%;
  }



  .profile-hero-col:first-child,
  .profile-hero-col:last-child {
    flex: unset;
  }
}
