.sidebar {
  position: sticky;
  top: 0;   
  height: 100vh;
  width: 20rem;
  background-color: #f9f9f9;
  border-right: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.sidebar-top {
  text-align: center;
  color: #222222;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0 1rem;
  user-select: none;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.sidebar-buttons .btn {
  width: 100%;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.sidebar-footer {
  text-align: center;
  color: #444444;
  padding: 0 1rem;
  opacity: 0.95;
  font-style: italic;
}

section {
  scroll-margin-top: 13.5rem;
}

