.app-container {
  position: fixed;
  left: 20rem;
  top: 0px;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  color: #111111;
  font-family: 'Fira Code', monospace;
}

.content-section {
  padding: 2rem;
  overflow-y: auto;
  flex-grow: 1;
  color: #111111;
}
