.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  color: #111111;
  font-family: 'Fira Code', monospace;
}

/* Optional generic content styling */
.content-section {
  padding: 2rem;
  color: #111111;
}


@media screen and (max-width: 768px) {
  .content-section {
    padding: 1rem;
  }
}
