.app-container {
  position: relative;   /* ✅ Remove Fixed */
  left: 20rem;
  top: 0;
  display: flex;
  min-height: 100vh;     /* ✅ Let page grow */
  width: calc(100% - 20rem);
  background-color: #ffffff;
  color: #111111;
  font-family: 'Fira Code', monospace;
  overflow: visible;     /* ✅ Allow scroll */
}

.content-section {
  padding: 2rem;
  overflow-y: auto;
  flex-grow: 1;
  color: #111111;
}

@media screen and (max-width: 768px) {
  .app-container {
    left: 0;
    width: 100%;
    flex-direction: column;
    position: relative;
  }

  .content-section {
    padding: 1rem;
    height: auto;
  }

  .content-wrapper h2 {
    margin-left: 2rem;
  }

  .sidebar {
    position: sticky;
    top: 8px;
  }

  .profile-details h2 {
    margin: 0;
  }

  .sidebar-right {
    justify-self: center;
  }
}
